.cardRecipe {
  display: flex;
  width: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  border: 8px solid #eddcd2;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(163, 161, 161);
  background-color: #fff1e6;
  position: relative;
  animation-timing-function: ease;
  animation: cardRecipeMoveRight 3s;
}
@keyframes cardRecipeMoveRight {
    from {
      left: 0px;
    }
    to {
      left: -300px;
    }
  }
  @keyframes cardRecipeMoveRight {
    from {
      left: -300px;
    }
    to {
      left: 0px;
    }
  }
.cardRecipe > img {
  border-radius: 50%;
  border: 4px solid #eddcd2;
  width: 100px;
  height: 100px;
}
.cardRecipe > ol,
p {
  font-weight: bold;
  font-size: 1.05rem;
}
.cardRecipe > h2{
    border-bottom: 4px solid #eddcd2;
}

