.cardRecipe {
  display: flex;
  width: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #aaaaaa;
  background-color: white;
  opacity: 0.8;
  position: relative;
  animation-timing-function: ease;
  animation: cardRecipeMoveRight 3s;
  transition: 1s ease-in-out;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(170, 133, 133, 0.302)
  );
}
.cardRecipe:hover {
  opacity: 1;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform: scale(1.1, 1.1);
}
.cardRecipe > p {
  font-family: "Pattaya", sans-serif;
  color: #534234;
}
@keyframes cardRecipeMoveRight {
  from {
    left: 0px;
  }
  to {
    left: -300px;
  }
}
@keyframes cardRecipeMoveRight {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}
.cardRecipe > img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(219, 184, 184, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 100px;
  height: 100px;
}
.cardRecipe > ol,
p {
  font-weight: bold;
  font-size: 1.05rem;
  color: #534234;
  font-family: 'Athiti', sans-serif;
}
.cardRecipe > h2 {
  padding: 5px;
  color: #534234;
}
