.App {
  min-height: 100vh;
}
.search-form {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.search-button {
  border: none;
  border-radius: 10px;
  background-color: #ffcaaf;
  padding: 10px 20px;
  margin-left: 10px;
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-weight: bold;
}
.search-form > button:hover{
  color:#a7bed3;
  background-color: #f1ffc4;
  cursor: pointer;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
