.App {
  min-height: 100vh;

}
.search-form {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.search-bar:hover{
  background-color: #e2eafc;
}
.search-button {
  border: none;
  border-radius: 40px;
  background-color: transparent;
  padding: 5px 10px;
  margin-left: 5px;
  font-family: "Caveat", cursive;
  font-size: 25px;
  transition: width 2s, height 2s, transform 2s;
}
.search-form > button:hover {
  cursor: pointer;
  transform: rotate(360deg);
  
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h2 {
  font-family: "Caveat", cursive;
}
