html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Khula", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #99c1de;
  margin: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #5c5661;
  font-size: 14px;
  position: absolute;
    left: 0;
    bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
