html {
  position: relative;
  min-height: 100vh;
  background-image: url("./assets/food2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
body {
  font-family: "Khula", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 20px;
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  color: #534234;
  -webkit-text-stroke: 2px #ede0d4; /* width and color */
  text-shadow: 4px 4px 10px #8b8b81;
  font-family: "Pattaya", sans-serif;
}
@media screen and (max-width: 600px) {
  .header {
    font-size: 70px;
    -webkit-text-stroke: 1px #ede0d4; /* width and color */
    text-shadow: 2px 2px 8px #8b8b81;
  }
}
@media screen and (max-width: 575px) {
  .header {
    font-size: 65px;
    -webkit-text-stroke: 1px #ede0d4; /* width and color */
    text-shadow: 2px 2px 8px #8b8b81;
  }
}
@media screen and (max-width: 550px) {
  .header {
    font-size: 60px;
    -webkit-text-stroke: 1px #ede0d4; /* width and color */
    text-shadow: 2px 2px 8px #8b8b81;
  }
}
@media screen and (max-width: 525px) {
  .header {
    font-size: 55px;
    -webkit-text-stroke: 1px #ede0d4; /* width and color */
    text-shadow: 2px 2px 8px #8b8b81;
  }
}
@media screen and (max-width: 500px) {
  .header {
    font-size: 50px;
    -webkit-text-stroke: 1px #ede0d4; /* width and color */
    text-shadow: 2px 2px 7px #8b8b81;
  }
}
@media screen and (max-width: 488px) {
  .header {
    font-size: 48px;
    -webkit-text-stroke: 1px #ede0d4; /* width and color */
    text-shadow: 2px 2px 7px #8b8b81;
  }
}
@media screen and (max-width: 472px) {
  .header {
    font-size: 45px;
    -webkit-text-stroke: 1px #ede0d4; /* width and color */
    text-shadow: 1px 1px 6px #8b8b81;
  }
}

.header .apple {
  font-size: 35px;
  position: relative;
  top: 30px;
  padding-left: 10px;
}
#animation {
  animation-name: wiggle;
  animation-duration: 5s;
}
/* Safari and Chrome browser */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg);
  }
  10% {
    -webkit-transform: skewX(-8deg);
  }
  20% {
    -webkit-transform: skewX(7deg);
  }
  30% {
    -webkit-transform: skewX(-6deg);
  }
  40% {
    -webkit-transform: skewX(5deg);
  }
  50% {
    -webkit-transform: skewX(-4deg);
  }
  60% {
    -webkit-transform: skewX(3deg);
  }
  70% {
    -webkit-transform: skewX(-2deg);
  }
  80% {
    -webkit-transform: skewX(1deg);
  }
  90% {
    -webkit-transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #000000;
  font-size: 14px;
  font-weight: bolder;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
