body {
  font-family: "Khula", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #99c1de;
margin: 50px;}

.footer {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
