.cardRecipe{
    display: flex;
    width:30%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    border: 8px solid #f1ffc4;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
    background-color: #c6e2e9;

}
.cardRecipe > img{
    border-radius: 20px;
}
.cardRecipe > ol,p{
    font-weight: bold;
    font-size: 1.05rem;
}
